/* NOTE: You DON'T have to make any changes to the CSS */


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: minmax(min-content, 200px) 1fr;
	grid-template-areas: 
  "header header"
  "nav main"
  "footer footer";
	font-family: system-ui, sans-serif;
	font-size: 1.5em;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 400;
}

h1 {
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2 {
	font-size: 3.8rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 2.6rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

h4 {
	font-size: 2.0rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}

header {
	grid-area: header;
	background: rgb(61, 206, 186);
	color: white;
	padding: 4rem;
	text-align: center;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
	grid-area: nav;
	background: rgb(54, 144, 189);
	padding-top: 1em;
}

nav ul {
	max-width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul>ul {
	margin-left: 1em;
}

nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease;
}

nav ul li a:hover {
	color: rgb(150, 203, 230);
	text-decoration: underline;
}


/* Content Areas
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
	grid-area: main;
	padding-bottom: 40rem;
}

section {
	max-width: 800px;
	padding: 1em 2em;
	margin: 0 auto;
}

section::after {
	content: '';
	display: block;
	margin: 3em auto 0;
	width: 100%;
	max-width: 800px;
	border-bottom: 1px solid #bbb;
}

footer {
	grid-area: footer;
	background: #607D8B;
	color: white;
	padding: 4rem;
	text-align: center;
}


/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

figure {
	padding: 1em 0;
}

figure img {
	display: block;
	width: 100%;
	max-width: min-content;
	margin: 0 auto;
}

figure iframe {
	display: block;
	margin: 0 auto;
}

figure figcaption {
	text-align: center;
}

blockquote {
	width: 80%;
	margin: 2em auto;
	font-style: italic;
	padding: 1em 2em;
	border-left: 8px solid #78C0A8;
	font-size: 1em;
	line-height: 1.4;
	position: relative;
	background: #ededed;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 860px) {
	body {
		display: block;
	}
	nav {
		display: none;
	}
	section {
		padding: 0.5em;
	}
	figure {
		margin: 0;
	}
	figure iframe {
		width: 100%;
	}
	figure img {
		width: 100%;
	}
}


/* Only use sticky nav if it can display at full height */

@media (min-height: 300px) {
	nav ul {
		position: sticky;
		top: 0;
	}
}